/*

Theme Name: Twenty Seventeen Child

Theme URI: https://wordpress.org/themes/twentyseventeen/

Template: twentyseventeen

Author: the WordPress team

Author URI: https://wordpress.org/

Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.

Tags: one-column,two-columns,right-sidebar,flexible-header,accessibility-ready,custom-colors,custom-header,custom-menu,custom-logo,editor-style,featured-images,footer-widgets,post-formats,rtl-language-support,sticky-post,theme-options,threaded-comments,translation-ready

Version: 1.3.1508339756

Updated: 2017-10-18 10:15:56



*/



div.entry-content{
    float:none !important;
    width: 100% !important;
}

#gform_wrapper_2, #gform_wrapper_1{
    max-width: 414px;
}

#gform_wrapper_1 label, #gform_wrapper_2 label{
    margin-bottom: 0px;
    float: left;
	width: 68%;
    color: #ffffff;
    line-height: 2.3em;
}

#gform_wrapper_1 .gfield, #gform_wrapper_2 .gfield{
	margin-right: 0px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
	overflow: auto;
    background-color: #4eb56e;
}

#gform_wrapper_1 .ginput_container_number, #gform_wrapper_2 .ginput_container_number{
	margin-top: 0;
	float: right;
    width: 30%;
}

#field_2_7 > div.gfield_description, #field_1_4 > div.gfield_description{
    margin-left: 0;
    padding-left: 16px;
    width: 100%;
    color: #ffffff;
}

#field_2_3 > div > div.instruction {
    display: none;
}

#gform_submit_button_1, #gform_submit_button_2 {
    background: #4b8e5f !important;
}

#gform_wrapper_1 input, #gform_wrapper_2 input{
    width: 100%;
    background-color: #71cf8e;
	margin-bottom: 0px;
    border: none;
}

#input_2_2, #input_2_4, #input_2_6, #input_1_3{
    background-color: #4eb56e !important;
    color: #fff;
    border: 1px solid #d3c4e0 !important;
}

#field_2_8, #field_1_5{
    background-color: #4b8e5f !important;
}

#gform_wrapper_1 h2.gsection_title, #gform_wrapper_2 h2.gsection_title {
    color: #fff;
    font-weight: 200;
}